<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Veloxis Networks | Admin</title>
</head>
<body>
    <nav>
        <div class="dashboard-logo">
            <h1>Veloxis Networks</h1>
        </div>
        <div class="dashboard-logout">
            <a href="/logout">Log out</a>
        </div>
    </nav>

    <main>
        <section class="admin-hero">
            <h2>Admin Panel</h2>
            <p>Restricted Access. Authorized personnel only</p>
        </section>
        <section class="admin-content">
            <div class="admin-card">
                <h3>User Management</h3>
                <p>See user names, address, and other needed info</p>
            </div>

            <div class="admin-card">
                <h3>System Settings</h3>
                <p>Change systems settings</p>
            </div>
            <div class="admin-card">
                <h3>View All Data</h3>
                <p>View all financial, performance, and system logs</p>
            </div>
        </section>



    </main>

<footer>© 2026 Veloxis Networks. All rights reserved.</footer>
</body>
</html>
