<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Veloxis Networks | Announcements</title>
</head>
<body>
    <nav>
        <div class="dashboard-logo">
            <h1>Veloxis Networks</h1>
        </div>
        <div class="dashboard-logout">
            <a href="/logout">Log out</a>
        </div>
    </nav>

    <main>
        <section class="ann-hero">
            <h2>Company Announcements</h2>
            <p>Here you can see Announcements and updates</p>
        </section>
        <section class="ann-form">
            <form action="/announcements" method="post">
                <input type="text" name="title" id="ann-form" placeholder="Announcement title...">
                <textarea name="content" placeholder="Write your announcements here..."></textarea>
                <button type="submit">Post  Announcement</button>
            </form>
        </section>
        <section class="ann-results">
            
        </section>
            





    </main>

<footer>© 2026 Veloxis Networks. All rights reserved.</footer>
</body>
</html>
