<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Veloxis Networks | Directory</title>
</head>
<body>
    <nav>
        <div class="dashboard-logo">
            <h1>Veloxis Networks</h1>
        </div>
        <div class="dashboard-logout">
            <a href="login.html">Log out</a>
        </div>
    </nav>
    <main>
        <section class="dir-hero" >
            <h2>Employee Directory</h2>
            <p>Search and view employees across all departments</p>
        </section>
        <section class="dir-search">
        <h3>Search Employees</h3>
        <form action="/directory" method="get">
            <input type="text" name="search" placeholder="Search by name or department...">
            <button type="submit">Search</button>
        </form>
    </section>
        <section class="dir-results">

        </section>






    </main>


    <footer>© 2026 Veloxis Networks. All rights reserved.</footer>
</body>
</html>